archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1699370045702/work
blinker==1.7.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001750083/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1701731649548/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1706566000184/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
Flask==3.0.3
fonttools==4.47.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib-resources==6.1.1
importlib_metadata==7.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397322962/work
jwt==1.3.1
kiwisolver==1.4.5
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1703178878806/work/libmambapy
MarkupSafe==2.1.5
matplotlib==3.8.2
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1705068373681/work
mysql-connector-python==8.3.0
numpy==1.26.3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pillow==10.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1706116770704/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355892939/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyJWT==2.8.0
pyparsing==3.1.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.8.2
python-dotenv==1.0.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1699007392833/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1695997119784/work
six==1.16.0
SQLAlchemy==2.0.29
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
typing_extensions==4.11.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1706638047111/work
Werkzeug==3.0.2
zipp==3.17.0
zstandard==0.22.0
